<footer class="mx-auto mt-6 max-w-screen-xl px-4">
    <hr class="border-gray-200 mini-sm:mx-auto lg:my-8" />
    <div class="my-6 mini-sm:flex mini-sm:items-center mini-sm:justify-between">
            <span class="text-mini-sm text-gray-500 mini-sm:text-center">© 2024 <a href="https://play-zone.games" class="hover:underline">PlayZone</a>. MIT License.
            </span>
        <div class="flex mt-4 space-x-6 mini-sm:justify-center mini-sm:mt-0">
            <a href="https://github.com/RostaJecna/play-zone.games" class="text-gray-500 hover:text-gray-900">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900">
                <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 63"  aria-hidden="true"><path d="M56.53 0H6.47C2.9 0 0 2.9 0 6.47V13h63V6.47C63 2.9 60.1 0 56.53 0ZM11.5 8h-3C7.67 8 7 7.33 7 6.5S7.67 5 8.5 5h3c.83 0 1.5.67 1.5 1.5S12.33 8 11.5 8Zm8 0h-3c-.83 0-1.5-.67-1.5-1.5S15.67 5 16.5 5h3c.83 0 1.5.67 1.5 1.5S20.33 8 19.5 8Zm36 0h-17c-.83 0-1.5-.67-1.5-1.5S37.67 5 38.5 5h17c.83 0 1.5.67 1.5 1.5S56.33 8 55.5 8ZM19.33 35.02l-1.42 6.46h2.8l-1.38-6.46zM35.43 38.11c.11-.1.17-.26.17-.46v-3.86c0-.21-.06-.36-.17-.46-.11-.1-.29-.15-.53-.15h-1.93v5.1h1.93c.24 0 .42-.05.53-.15Z"/><path d="M0 56.53C0 60.1 2.9 63 6.47 63h50.06C60.1 63 63 60.1 63 56.53V17H0v39.53Zm42.18-26.86h4.9v17.98h-4.9V29.67Zm-14.11 0h8.32c1.49 0 2.55.32 3.18.95.63.63.94 1.47.94 2.52v5.15c0 1.05-.31 1.89-.94 2.52-.63.63-1.68.95-3.18.95h-3.42v5.88h-4.9V29.66Zm-11.71 0h5.96l4.62 17.98h-4.93l-.57-2.69h-4.3l-.59 2.69h-4.82l4.62-17.98Z" clip-rule="evenodd" /></svg>
            </a>
        </div>
    </div>
</footer>
