<header class="font-poppins shadow-lg">
    <nav class="font-body mx-auto max-w-screen-xl items-center justify-between p-2 pr-4 md:flex">
        <div class="logo flex items-center gap-1">
            <img class="drop-shadow-lg" id="myIcon" src="img/logo.svg" alt="logo.svg" width="40px" />
            <a class="bg-azure cursor-pointer bg-clip-text text-3xl font-semibold text-transparent">PlayZone</a>
        </div>
        <ul class="m-auto hidden gap-4 md:flex">
            <li><a class="text-tertiary font-bold underline decoration-2 underline-offset-4" href="#">Home</a></li>
            <li><p class="w-fit cursor-not-allowed hover:text-gray-500" id="store-link" href="#">Store</p></li>
            <li><a class="hover:text-tertiary" href="#">Forum</a></li>
            <li><a class="hover:text-tertiary" href="#">About Us</a></li>
        </ul>
        <div class="hidden space-x-2 md:block">
            <a class="hover:text-primary cursor-pointer font-bold">Log In</a>
            <button class="bg-azure group-hover:from-primary group-hover:to-secondary group relative inline-flex items-center justify-center overflow-hidden rounded-lg p-0.5 text-sm font-bold text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200">
                <span class="text-secondary relative rounded-md bg-white px-2 py-0.5 text-lg transition-all duration-75 ease-in group-hover:bg-opacity-0 group-hover:text-white"> Sign Up </span>
            </button>
        </div>
    </nav>
</header>
