<header class="font-poppins">
    <nav class="font-body flex-wrap items-center justify-between px-4 py-2 sm:flex">
        <div class="logo flex items-center gap-1">
            <img src="img/logo.svg" alt="logo.svg" width="40px" />
            <a class="cursor-pointer bg-azure bg-clip-text text-3xl font-semibold text-transparent">PlayZone</a>
        </div>
        <ul class="group flex gap-4">
            <li><a class="font-bold text-tertiary underline decoration-2 underline-offset-4" href="#">Home</a></li>
            <li><p class="cursor-not-allowed hover:text-gray-500" id="store-link" href="#">Store</p></li>
            <li><a class="hover:text-tertiary" href="#">Forum</a></li>
            <li><a class="hover:text-tertiary" href="#">About Us</a></li>
        </ul>
        <div class="space-x-2">
            <a class="cursor-pointer font-bold hover:text-primary">Log In</a>
            <button class="group relative inline-flex items-center justify-center overflow-hidden rounded-lg bg-azure p-0.5 text-sm font-bold text-gray-900 hover:text-white focus:outline-none focus:ring-4 focus:ring-green-200 group-hover:from-primary group-hover:to-secondary">
                <span class="relative rounded-md bg-white px-2 py-0.5 text-lg text-secondary transition-all duration-75 ease-in group-hover:bg-opacity-0 group-hover:text-white"> Sign Up </span>
            </button>
        </div>
    </nav>
</header>