<!DOCTYPE html>
<html lang="en">

<% let pageTitle = "Play Zone | About Us" %>
<%- include('partials/head.ejs', { pageTitle: pageTitle }) %>

<body>

<!-- header -->
<%- include('partials/header.ejs') %>

<!-- footer -->
<%- include('partials/footer.ejs') %>

<%- include('modules/js.scripts.ejs') %>

</body>

</html>