<!DOCTYPE html>
<html lang="en">

<% let pageTitle = "Play Zone | About Us" %>
<%- include('partials/head.ejs', { pageTitle: pageTitle }) %>

<body>

<!-- header -->
<%- include('partials/header.ejs') %>

<script type="module" src="js/tooltips.js"></script>
<script type="module" src="js/header.js"></script>

</body>

</html>