/* Azure tooltip style */

.tippy-box[data-theme~='azure'] {
    @apply bg-azure text-white font-poppins;
}

.tippy-box[data-theme~='azure'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--primary-color);
}

.tippy-box[data-theme~='azure'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--primary-color);
}

.tippy-box[data-theme~='azure'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--primary-color);
}

.tippy-box[data-theme~='azure'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--primary-color);
}